<!doctype HTML>
<html>
  <head>
    <title>ToDo List</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <meta charset="utf-8">
  </head>
  <body>
    <div class="main">
      <div class="heading">
        <h2>ToDo List</h2>
      </div>
      <div class="list">
        <ul>
          <li v-for="task in tasks">{{task}}</li>
        </ul>
      </div>
      <div class="buttons">
        <input id="input" type="text" v-model="newTask">
        <button @click="addTask">Add Task</button>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      new Vue({
        el: ".main",
        data: {
          tasks:["You can delete a task by clicking on it."],
          newTask:""
        },
        methods:{
          addTask(){
            this.tasks.push(this.newTask);
            this.newTask="";
          },
        }
      });
    
    </script>
  </body>
</html>