<!doctype HTML>
<html>
  <head>
    <title>ToDo List</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <meta charset="utf-8">
  </head>
  <body>
    <div class="main">
      <div class="heading">
        <h2>ToDo List</h2>
      </div>
      <div class="list">
        <ul>
          <li v-for="task in tasks">{{task.name}}</li>
        </ul>
      </div>
      <div class="buttons">
        <input id="input" type="text" v-model="newTask">
        <button @click="addTask">Add Task</button>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      new Vue({
        el: ".main",
        data: {
          tasks:[
            {name:"You can delete tasks by clicking on it.", completed:false},
            {name:"Of course, it's not implemented yet.", completed:false}
        ],
          newTask:""
        },
        methods:{
          addTask(){
            tasksObj={};
            tasksObj["name"]=this.newTask;
            tasksObj["completed"]=false;
            this.tasks.push(tasksObj);
            this.newTask="";
          },
        }
      });
    
    </script>
  </body>
</html>